[Desktop Entry]
Version=1.0
Name=VoidChat
Comment=Decentralized P2P Messenger
Exec=sh -c 'cd "$(dirname "%k")" && python3 src/app.py'
Terminal=true
Icon=voidchat.png
Type=Application
Categories=Network;