Screen {

    background: #090514; /* Deeper dark violet mode base background */
    color: white;
}


#main_container {
    width: 72;
    height: auto;
    align: center middle;
    content-align: center middle;
    padding: 1 4;
    margin-top: 4;
    border: tall #a855f7; /* High-glow neon purple frame border */
    background: #0d061a 85%; /* Frosted translucent obsidian-violet tint background */
}

#logo {
    width: 100%;
    height: 7; /* Height allocation for double-outline block font array */
    content-align: center middle;
    text-style: bold;
    color: #c084fc; /* Vibrant cyber purple text color */
    margin-bottom: 2; /* Margins expanded slightly to compensate for deleted text */
}

#login_form {
    width: 100%;
}


/* Splitting IP Address and Port field parameters horizontally */
#network_row {
    width: 100%;
    height: auto;
    margin-bottom: 1;
}

#ip_input {
    width: 70%;
}

#port_input {
    width: 30%;
    margin-left: 1; /* Space separator divider block */
}

/* Category Label Indicators */
#form_header, #form_header_2 {
    color: #581c87;
    text-style: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 1;
}

#form_header_2 {
    margin-top: 1;
}

Input {
    margin-bottom: 1;
    border: tall #3b0764; /* Very deep dark purple border outlines */
    background: #05020a;  /* Near black-purple fill */
    color: #a855f7;       /* Soft purple color for standard typing text */
    padding: 0 1;
}

Input:focus {
    border: tall #e9d5ff !important; /* Forces high contrast pastel purple outline focus */
    color: #c084fc !important;       /* Forces active input text to render glowing purple */
    background: #05020a;
}


#connect_button {
    width: 100%;
    margin-top: 1;   
    height: 3;
    border: tall #a855f7; /* Electric purple frame border */
    background: #120724;  /* Dark luxury slate violet tint background */
    color: #c084fc;       /* Glowing neon lavender text color */
    text-style: bold;
}

#connect_button:hover {
    background: #240e47;  /* Deeper purple hover state shift */   
    border: tall #c084fc; /* Lighter purple frame glow */   
    color: #f3e8ff;
}

Header {
    background: #0d061a;
    color: #c084fc;
}

Footer {
    background: #0d061a;
    color: #c084fc;
}
